{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "prettier"],
  "settings": {
    "import/core-modules": []
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/no-danger": "off",
    "max-len": [
      "off", 125, 2, {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "graphql": false,
    "WebFont": false
  }
}
