@import "../../../scss/colors";
@import "../../../scss/responsive";

.footer {
  color: $smartive-dark-blue;
  font-size: 1.25rem;
  font-weight: 300;
  background: $white;
  padding: 2.5rem 0 5rem 0;

  .footer__row--logo {
    display: none;

    @media #{$large-up} {
      display: flex;
    }
  }

  .footer__sms {
    text-align: center;
    padding: 1rem 0;
    @media #{$large-up} {
      text-align: right;
    }
  }

  .footer__newsletter {
    padding: 1rem 0;
    @media #{$large-up} {
      padding: 0;
    }
  }

  .link {
    color: $smartive-dark-blue;
    font-weight: 300;
    text-decoration: none;
    border-bottom: .0625rem solid transparent;
    transition: border-bottom-color .2s ease-in-out;

    &:hover {
      border-bottom: .0625rem solid $light-gray;
    }
  }

  .social {
    margin-top: 1rem;
    ul {
      list-style: none;
    }

    li {
      padding: 0;
    }
    li a {
      text-align: center;
    }
    li:first-child a {
      text-align: left;
    }
    li:last-child a {
      text-align: right;
    }
  }

  .footer__logo, .footer__sms-logo {
    display: block;
    line-height: 1;
    width: 100%;
    margin: 0;
    img {
      height: 1.5rem;
      width: auto;
      max-width: 100%;
    }
  }

  .footer__sms-logo img {
    height: auto;
  }
}
