@import '../../../scss/colors';
@import '../../../scss/responsive';

.case-teaser {
  margin: 0 0 5rem;

  @media #{$large-up} {
    margin: 5rem 0 7.5rem;
  }

  @media #{$xlarge-up} {
    margin: 5rem 0 12.5rem;
  }

  h2 {
    small {
      color: $smartive-blue;
    }
  }

  &__text {
    padding: 0 2.5rem 2.5rem;
    font-weight: 300;

    @media #{$medium-up} {
      padding: 0 2.5rem 5rem;
    }

    @media #{$xlarge-up} {
      padding: 8rem 0 8rem 6rem;
    }
  }

  &__body {
    margin: 2.5rem 0;
  }

  &__actions {
    .link-button {
      @media #{$small-up} {
        margin: 0 0.5rem;
      }

      &:first-of-type {
        @media #{$small-up} {
          margin-left: 0;
        }
      }
    }
  }

  figure {
    padding: 0;
    margin: 0;
    position: relative;
    display: block;

    @media #{$large-up} {
      height: 100%;
    }

    .case-image {
      display: block;
      max-width: 100%;
      padding: 0;
      margin: 0;

      @media #{$large-up} {
        margin-top: -5%;
      }

      @media #{$xlarge-up} {
        margin-top: 0;
        position: relative;
        bottom: -8rem;
      }
    }
  }

  &__col--img {
    position: relative;
    padding-top: 2.5rem;

    @media #{$large-up} {
      padding-top: 0;
    }
  }
}

.case-teaser--dark > .case-teaser {
  .container--case {
    background: $smartive-dark-blue;
    color: $white;
  }
}

.case-teaser--bright > .case-teaser {
  .container--case {
    background: $light-blue;
  }
}

.case-teaser--image-padded {
  .row > .case-teaser__col--img {
    padding: 2.5rem;

    @media #{$large-up} {
      padding-top: 0;
    }

    @media #{$xlarge-up} {
      padding: 0;
    }
  }

  .img-container {
    padding: 0;

    @media #{$xlarge-up} {
      padding-left: 2.5rem;
    }
  }
}

.case-teaser--right-highlighted > .case-teaser {
  .case-teaser__col--body {
    @media #{$xlarge-up} {
      order: -1;
      margin: 0;
      padding: 0 3rem 0 0;
    }
  }

  .img-container {
    line-height: 0;

    .case-image {
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

    @media #{$xlarge-up} {
      margin-right: -2.5rem;

      .case-image {
        box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.case-teaser--left-highlighted > .case-teaser {
  .case-teaser__col--body {
    @media #{$xlarge-up} {
      order: 1;
      margin: 0;
      padding: 0 3rem 0 0;
    }
  }

  .img-container {
    line-height: 0;

    .case-image {
      max-width: 100%;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

    @media #{$xlarge-up} {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      margin-left: -2.5rem;

      .case-image {
        box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}
